
@model PagedList.Core.IPagedList<Assignment2.Entities.Photo>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Photo Album</h2>
<div class="container">
    <tr>
        <td align="left" colspan="5">
            <pager list="@Model" asp-controller="Home" asp-action="Index"></pager>
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="@item.thumbnailUrl" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="@item.url">@item.title</a>
                        </h4>
                        <p class="card-text">@item.title</p>
                    </div>
                </div>
            </div>

        </div>

    }

    <tr>
        <td align="left" colspan="5">
            <pager list="@Model" asp-controller="Home" asp-action="Index"></pager>
        </td>
    </tr>
</div>




